[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = {extras = ["standard"], version = "*"}
fastapi = "*"
python-multipart = "*"
passlib = "*"
python-jose = {extras = ["cryptography"], version = "*"}
sqlalchemy = "*"
psycopg = "*"

[dev-packages]

[requires]
python_version = "3.11"
